<odoo>
    <menuitem id="marketplace_helpdesk_menu_root" name="Marketplaces"
              sequence="10"
              web_icon="marketplace_helpdesk,static/description/icon.png"/>
    <menuitem id="marketplace_helpdesk_menu_tickets" name="Tickets"
              parent="marketplace_helpdesk_menu_root"
              sequence="10"
              action="action_marketplace_tickets"/>
    <menuitem id="marketplace_helpdesk_menu_accounts" name="Cuentas conectadas"
              parent="marketplace_helpdesk_menu_root"
              sequence="20"
              action="action_marketplace_accounts"/>
</odoo>
