<odoo>
    <data>

        <!-- MENÚ PRINCIPAL -->
        <menuitem id="menu_marketplace_root"
                  name="Marketplaces"
                  sequence="10"
                  groups="base.group_system"/>

        <!-- SUBMENÚ DE CUENTAS -->
        <menuitem id="menu_marketplace_accounts"
                  name="Cuentas"
                  parent="menu_marketplace_root"
                  action="action_marketplace_accounts"
                  sequence="20"/>

        <!-- SUBMENÚ DE TICKETS -->
        <menuitem id="menu_marketplace_tickets"
                  name="Tickets"
                  parent="menu_marketplace_root"
                  action="action_marketplace_tickets"
                  sequence="30"/>

    </data>
</odoo>
